services:
  web-stage:
    build:
      context: .
      dockerfile: staging.Dockerfile
    depends_on:
      - mongo-stage
      - redis-stage
    restart: on-failure
    volumes:
      - web-uploads-stage:/app/public/images/uploads
    networks:
      - stage-network

  redis-stage:
    image: "redis:alpine"
    networks:
      - stage-network
    restart: on-failure
  
  mongo-stage:
    image: mongo
    restart: on-failure
    volumes:
      - mongo-stage-data:/data/db
    networks:
      - stage-network
    env_file: .env.local
      
  mongo-express-stage:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    networks:
      - stage-network
    env_file: .env.local
    depends_on:
      - mongo-stage

  nginx-stage:
    build:
      context: .
      dockerfile: nginx.stage.Dockerfile
    volumes:
      - web-uploads-stage:/images/uploads
    ports:
      - "6061:443"
    networks:
      - stage-network
    restart: always

volumes:
  mongo-stage-data:
  web-uploads-stage:

networks:
  stage-network: