services:
  web-stage:
    build:
      context: .
      dockerfile: staging.Dockerfile
    ports:
      - "6060:6060"
    restart: on-failure
    networks:
      - stage-network

  redis-stage:
    image: "redis:alpine"
    networks:
      - stage-network
  
  mongo-stage:
    image: mongo
    restart: on-failure
    volumes:
      - mongo-data-stage:/data/db
    networks:
      - stage-network
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      
  mongo-express-stage:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    networks:
      - stage-network
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@literalink-mongo-stage-1:27017/

volumes:
  mongo-data-stage:

networks:
  stage-network: