services:
  web:
    build:
      context: .
      dockerfile: production.Dockerfile
    restart: on-failure
    networks:
      - prod-network

  redis:
    image: "redis:alpine"
    networks:
      - prod-network
  
  mongo:
    image: mongo
    restart: on-failure
    volumes:
      - mongo-prod-data:/data/db
    networks:
      - prod-network
    env_file: .env.prod
      
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8082:8081
    networks:
      - prod-network
    env_file: .env.prod
    depends_on:
      - mongo

  nginx:
    build:
      context: .
      dockerfile: nginx.prod.Dockerfile
    ports:
      - "80:80"
      - "443:443"
    networks:
      - prod-network
    restart: always

volumes:
  mongo-prod-data:
  
networks:
  prod-network: