version: '3.2'

services:
  web-dev:
    build:
      context: .
      dockerfile: development.Dockerfile
    volumes:
      - .:/app
    ports:
      - "8000:4000"
    restart: on-failure
    networks:
      - dev-network

  redis-dev:
    image: "redis:alpine"
    networks:
      - dev-network
  
  mongo-dev:
    image: mongo
    restart: on-failure
    volumes:
      - mongo-data:/data/db
    networks:
      - dev-network
    env_file: .env.local
    environment:
      MONGO_INITDB_ROOT_USERNAME: .env.local
      MONGO_INITDB_ROOT_PASSWORD: .env.local
      
  mongo-express-dev:
    image: mongo-express
    restart: always
    ports:
      - 8080:8081
    networks:
      - dev-network
    env_file: .env.local
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: .env.local
      ME_CONFIG_MONGODB_ADMINPASSWORD: .env.local
      ME_CONFIG_MONGODB_URL: mongodb://literalink:7645SZarGUE288veP@mongo-dev:27017

volumes:
  mongo-data:

networks:
  dev-network: