version: '3.2'

services:
  web-dev:
    build:
      context: .
      dockerfile: development.Dockerfile
    volumes:
      - .:/app
    ports:
      - "8000:4000"
    restart: on-failure
    networks:
      - dev-network

  redis-dev:
    image: "redis:alpine"
    networks:
      - dev-network
  
  mongo-dev:
    image: mongo
    restart: on-failure
    volumes:
      - mongo-data:/data/db
    networks:
      - dev-network
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      
  mongo-express-dev:
    image: mongo-express
    restart: always
    ports:
      - 8080:8081
    networks:
      - dev-network
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@literalink-mongo-dev-1:27017/
      

volumes:
  mongo-data:

networks:
  dev-network: