services:
  web:
    build:
      context: .
      dockerfile: production.Dockerfile
    restart: on-failure
    networks:
      - prod-network

  redis:
    image: "redis:alpine"
    networks:
      - prod-network
  
  mongo:
    image: mongo
    restart: on-failure
    volumes:
      - mongo-data-prod:/data/db
    networks:
      - prod-network
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8082:8081
    networks:
      - prod-network
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/

  nginx:
    build:
      context: .
      dockerfile: nginx.prod.Dockerfile
    ports:
      - "80:80"
      - "443:443"
    networks:
      - prod-network
    volumes:
      - ./ssl:/ssl
    restart: always

volumes:
  mongo-data-prod:
  
networks:
  prod-network: