secretKey='yourPassword'

MONGO_INITDB_ROOT_USERNAME=yourPassword
MONGO_INITDB_ROOT_PASSWORD=yourPassword

ME_CONFIG_MONGODB_ADMINUSERNAME=yourPassword
ME_CONFIG_MONGODB_ADMINPASSWORD=yourPassword
ME_CONFIG_MONGODB_URL=secretURL
