name: CD
on:
  workflow_dispatch:

jobs:
  deploy-production:
    runs-on: ubuntu-latest

    steps:
      - name: Clear previous containers
        run: docker compose -f ./docker-compose.prod.yml down
  
      - name: Deploy to stage
        run: docker compose -f ./docker-compose.prod.yml up -d