name: CD
on:
  workflow_dispatch:

jobs:
  deploy-production:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: create ssl crt
        run: echo "${{secrets.crt}}" > literalink.crt
        
      - name: create ssl key
        run: echo "${{secrets.key}}" > literalink.key

      - name: create env file
        run: echo "${{secrets.env_prod}}" > .env.local 

      - name: Clear previous containers
        run: docker compose -f ./docker-compose.prod.yml down

      - name: Clear unused files
        run: docker system prune -a -f && docker volume prune -a -f
  
      - name: Deploy to production
        run: docker compose -f ./docker-compose.prod.yml up -d --build

      - name: clear previous tmp files
        run: rm ./literalink.crt && rm ./literalink.key && rm ./.env.local 
