name: CI

on: 
  push:

jobs:
  buildAndTest:
    runs-on: self-hosted

    steps:
      - name: Grant permission
        run: chown -R arthur ./ 
        
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Clear unused files
        run: docker system prune -a -f && docker volume prune -a -f

      - name: create env file
        run: echo "${{secrets.env_stage}}" > .env.local

      - name: Run tests with Jest
        run: docker compose -f ./docker-compose.test.yml up --build --exit-code-from test

      - name: clear env file
        run: rm ./.env.local 

      - name: Clear unused files
        run: docker system prune -a -f && docker volume prune -a -f && docker volume prune -a -f
        
  deploy-staging:
    needs: [buildAndTest]
    if: github.ref == 'refs/heads/main'

    runs-on: self-hosted

    steps:
      - name: Clear unused files
        run: docker system prune -a -f && docker volume prune -a -f
        
      - name: create ssl crt
        run: echo "${{secrets.crt}}" > literalink.crt
        
      - name: create ssl key
        run: echo "${{secrets.key}}" > literalink.key

      - name: create env file
        run: echo "${{secrets.env_stage}}" > .env.local 
        
      - name: Clear previous containers
        run: docker compose -f ./docker-compose.stage.yml down

      - name: Clear unused files
        run: docker system prune -a -f && docker volume prune -a -f
    
      - name: Deploy to stage
        run: docker compose -f ./docker-compose.stage.yml up -d --build
      
      - name: clear previous tmp files
        run: rm ./literalink.crt && rm ./literalink.key && rm ./.env.local 
