name: CI

on: 
  push:
  pull_request:

jobs:
  buildAndTest:
    runs-on: self-hosted

    steps:
      - name: Grant permission
        run: chown -R arthur ./ 
        
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'latest'

      - name: Install dependencies
        run: npm install
     
      - name: Lint project
        run: npm run lint -- --fix

      - name: Run tests with Jest
        run: npm run test

      - name: Build the project
        run: npm run build 

  deploy-staging:
    needs: [buildAndTest]
    if: github.ref == 'refs/heads/main'

    runs-on: self-hosted

    steps:
      - name: Clear previous containers
        run: docker compose -f ./docker-compose.stage.yml down
    
      - name: Deploy to stage
        run: docker compose -f ./docker-compose.stage.yml up -d --build