name: CI

on: 
  push:
  pull_request:

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Grant permission
        run: chown -R arthur ./ 
        
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'latest'

      - name: Install dependencies
        run: npm install
     
      - name: Lint project
        run: npm run lint -- --fix

      - name: Build the project
        run: npm run build 

  test:
    runs-on: self-hosted

    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
            node-version: 'latest'

      - name: Install dependencies
        run: npm install

      - name: Run tests with Jest
        run: npm run test

  deploy-staging:
    needs: [build, test]
    if: github.ref == 'refs/heads/main'

    runs-on: self-hosted

    steps:
      - name: Clear previous containers
        run: docker compose -f ./docker-compose.prod.yml down
    
      - name: Deploy to stage
        run: docker compose -f ./docker-compose.prod.yml up -d